@use 'variables';

.event {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: variables.$card-color;
  min-width: 30vw;
  max-width: 600px;
  box-sizing: border-box;

  &__title p {
    font-size: 20px;
  }

  &__body {
    display: flex;
    gap: 10px;
    min-width: 200px;

    img {
      border-radius: 10px;
      max-width: 300px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-title {
      font-size: 20px;
    }
  }

  button {
    width: 100%;
    align-self: center;
    margin-top: auto;
  }
}
