@use 'variables';

.events {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__empty {
    font-size: 18px;
    align-self: center;
    margin-top: 30px;
  }

  .events-header {
    display: flex;
    gap: 30px;
    justify-content: space-between;

    p {
      font-size: 18px;
    }

    &__item--active p {
      color: variables.$button-color;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .event-card {
    background-color: variables.$card-color;
    max-width: 200px;
    min-height: 100px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    img {
      position: absolute;
      object-fit: cover;
    }
  }
}

[data-theme='light'] {
  .event-card p {
    color: variables.$primary-color;
  }
}
