.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 20px;
  width: 100%;
  max-width: 300px;

  &__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: center;
  }

  label {
    align-self: flex-start;
  }
}
