@use "variables";

.privacy-policy {
  max-width: 1000px;
  margin: 0 auto;
  background: variables.$secondary-color;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid variables.$card-color;
}

.subtitle {
  padding-top: 20px;
  font-size: 20px;
}

h1 {
  color: variables.$secondary-color;
  margin-bottom: 10px;
  font-size: 30px;
}

h2 {
  color: variables.$secondary-color;
  margin: 30px 0 15px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid variables.$secondary-color;
  font-size: 25px;
}

h3 {
  color: #1c65ae;
  margin: 20px 0 10px 0;
  font-size: 1.3rem;
}

ul,
ol {
  margin: 15px 0 15px 30px;
}

li {
  margin-bottom: 8px;
}

.highlight {
  background-color: variables.$primary-color;
  padding: 20px;
  border-left: 4px solid #4a6fa5;
  margin: 20px 0;
  border-radius: 0 5px 5px 0;
}

.warning {
  background-color: variables.$card-color;
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px ;
}

.contact-info {
  background-color: variables.$card-color;
  padding: 25px;
  border-radius: 8px;
  margin: 30px 0;
  border: 1px solid #b6d4fe;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ecf0f1;
  color: #7f8c8d;
  font-size: 0.9rem;
}

.last-updated {
  font-style: italic;
  margin-bottom: 10px;
}

.acceptance {
  background-color: variables.$card-color;
  padding: 20px;
  border-radius: 8px;
  margin: 30px 0;
  border: 1px solid #c3e6cb;
  text-align: center;
}

.section-number {
  display: inline-block;
  background-color: #4a6fa5;
  color: white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  margin-right: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  h1 {
      font-size: 20px;
  }
}