@use 'variables';
@use 'registration';
@use 'events-list';
@use 'event';
@use 'theme';
@use 'feedback';
@use 'privacy-policy';

* {
  font-family: Inter, system-ui;
  font-weight: 600;
  font-size: 14px;
  color: variables.$secondary-color;
}

html,
body,
#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: variables.$primary-color;
  box-sizing: border-box;
  margin: 0;
}

#root {
  padding: 20px;
}

p {
  margin: 0;
  color: variables.$secondary-color;
}

input[type='text'],
input[type='password'],
input[type='datetime-local'],
input[type='number'],
textarea {
  color: variables.$secondary-color;
  border: none;
  border-radius: 10px;
  background-color: variables.$placeholder-color;
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  font-size: 14px;

  &::placeholder {
    color: variables.$secondary-color;
    font-weight: 400;
  }
}

select {
  border: none;
  border-radius: 10px;
  background-color: #b0c9ff4d;
  padding: 16px;
  width: 100%;
  font-size: 14px;
  appearance: none;

  option {
    background-color: variables.$primary-color;
    color: variables.$secondary-color;
  }
}

button:not(.Toastify__close-button) {
  color: variables.$secondary-color;
  background-color: variables.$button-color;
  border: none;
  border-radius: 8px;
  padding: 14px 24px;
  text-align: center;
  letter-spacing: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 20px;
  width: 100%;
  max-width: 300px;

  &__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    align-items: flex-start;
  }
}

.back {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: variables.$card-color;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: variables.$primary-color;
  padding: 16px 20px;
  border-radius: 8px;
  min-width: 280px;
  text-align: center;
  border: 1px solid variables.$secondary-color;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 12px;
}
